[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pytest = "*"
pytest-watch = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"
celery = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]
autopep8 = "*"
pytest-watch = "*"
pytest = "*"
locust = "*"
django-silk = "*"
model-bakery = "*"

[requires]
python_version = "3.8.10"
